//
   Created by flylxq on 16/9/22.
<!DOCTYPE html>
html(lang="en")
    head
        title=title
        meta(charset = 'UTF-8')
        meta(name = 'description' content = 'Everich management system')
        meta(name = 'keywords' content = 'Everich, info, management')
        meta(name = 'author' content = 'Xiaoqing Liu')
        link(href = '/favicon.ico' rel = 'shortcut icon')
    body
        #body
        script(src = mainScript)
