.pagination {
    margin: 5px 20px;
    display: inline-block;
    flex: 0 0 40px;

    $bgColor: rgb(0, 188, 212);
    $bgDeepColor: rgb(0, 156, 180);
    > li {
        display: inline-block;
        border: 1px solid #ddd;
        color: $bgColor;
        background-color: #fff;
        float: left;
        text-align: center;
        cursor: pointer;

        > a {
            position: relative;
            display: block;
            line-height: 40px;
            font-size: 14px;
            min-width: 40px;
            height: 40px;
            text-decoration: none;
        }

        > a:active {
            outline: 0;
        }
    }

    > li:hover, > li:focus {
        color: $bgDeepColor;
        background-color: #eee;
    }

    > li.disabled {
        color: #888;
        background-color: #fff;
        cursor: no-drop;
    }

    > li.page-active {
        color: #eee;
        background-color: $bgColor;
        border-top-color: $bgColor;
        border-bottom-color: $bgColor;
    }

    > li.break {
        width: 40px;
        height: 30px;
        padding: 5px 0;
    }

    > li + li {
        border-left: 0;
    }

    $borderRadius: 4px;
    > li:first-child {
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        width: 80px;
    }
    > li:last-child {
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        width: 80px;
    }
}