.pagination {
    margin: 5px 20px;
    display: inline-block;
    flex: 0 0 40px;

    $bgColor: rgb(0, 188, 212);
    $bgDeepColor: rgb(0, 156, 180);
    > li {
        display: inline-block;
        border: 1px solid #ddd;
        padding: 6px 12px;
        color: $bgColor;
        background-color: #fff;
        float: left;
        height: 20px;
        width: 14px;
        text-align: center;
        cursor: pointer;

        > a {
            position: relative;
            line-height: 20px;
            font-size: 14px;
            text-decoration: none;
        }

        > a:active {
            outline: 0;
        }
    }

    > li:hover, > li:focus {
        color: $bgDeepColor;
        background-color: #eee;
        border-color: #ddd;
    }

    > li.disabled {
        color: #888;
        background-color: #fff;
        cursor: no-drop;
    }

    > li.page-active {
        color: #eee;
        background-color: $bgColor;
    }

    > li + li {
        border-left: 0;
    }

    $borderRadius: 4px;
    > li:first-child {
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        width: 80px;
    }
    > li:last-child {
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
        width: 80px;
    }
}